body{
   background-color: hsl(0, 94%, 6%);

}

.container{
    background-color: rgba(0, 0, 0, 0.404);
    width: 700px;
    height: ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.nav{
    background-color: #ffffff4d;
    padding: 1rem;
    display: block;
    margin: auto;
    text-align: center;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.nav-link{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;

}

article{
    background-color: rgba(128, 128, 128, 0.404);
    padding: 1rem;
    color: #ffff;
}


footer p{
color: #ffff;
text-align: center;
margin-top: 202px;
}
.sus{
    margin-top: 320px;
}
#capa{
    width: 700px;
    height: 700px;
}

#sus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 50px;
}
